<% provide(:title, "Help") %>
<!DOCTYPE html>
<h1>Ask me anything</h1>
<p>
    For questions and inquiries and collaborations, and contributions (pls give us money) please send me an email: fope.ojo@gmail.com
</p>
